/* Carousel horizontal posts content slider admin styles */
.wa-wps-credits { float: right; width: 280px; background: #fff; margin: 20px -300px 20px 20px; position: relative; }
.wa-wps-credits  .inner { padding-left: 10px; padding-right: 10px; }
.wa-wps-credits  h3 { font-size: 14px; line-height: 1.4; margin: 0;  padding: 8px 12px; border-bottom: 1px solid #eee; }
.wa-wps-credits  .wa-link { font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif; font-style:italic; padding-bottom: 10px; margin: 0; }
.wa-wps-credits  .wa-link a { vertical-align: middle; padding: 5px 0 0 4px; }

.wa-wps-settings { margin-right: 300px; }
.wa-wps-settings hr { border: solid #eee; border-width: 1px 0 0; clear: both; height: 0; }
.wa-wps-settings form { float: left; min-width: 463px; width: auto; }
.wa-wps-settings fieldset span.description { margin-bottom: 8px; margin-top: 4px; display: block; }

@media only screen and (max-width: 959px) {
	.wa-wps-settings { width: 100%; float: none; margin: 20px 0; }
	.wa-wps-settings { margin-right: 0; }
}